/* @import url("https://fonts.googleapis.com/css2?&family=Sunflower:wght@300&display=swap"); */

/* @font-face {
  font-family: "omyu_pretty";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "SeoulNamsan";
  src: url("./assets/fonts/SeoulNamsanB.ttf") format("truetype"), url("./assets/fonts/SeoulNamsanEB.woff2") format("truetype"),
    url("./assets/fonts/SeoulNamsanL.woff") format("truetype"), url("./assets/fonts/SeoulNamsanM.woff") format("truetype"),
    url("./assets/fonts/SeoulNamsanvert.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* 기본 검정색 재정의 - 원하는 색상으로 변경 */
  --color-black: #333333; /* 예시: 순수 검정색(#000000) 대신 좀 더 부드러운 검정색 사용 */
  --font-sans: "SeoulNamsan", ui-sans-serif, system-ui, sans-serif;

  /* 사용자 정의 색상 */

  /* 여러 색조를 가진 색상 추가 */
  --color-primary-50: #e7fef9;
  --color-primary-100: #d5faf1;
  --color-primary-200: #abf3e1;
  --color-primary-300: #7dedd1;
  --color-primary-400: #5ae7c4;
  --color-primary-500: #44e4bb;
  --color-primary-600: #36e2b6;
  --color-primary-700: #27c9a0;
  --color-primary-800: #17b38d;
  --color-primary-900: #009b79;

  --color-pink-50: #ffeaf0;
  --color-pink-100: #fdd5dd;
  --color-pink-200: #f1abb9;
  --color-pink-300: #e77d92;
  --color-pink-400: #de5671;
  --color-pink-500: #d93e5d;
  --color-pink-600: #d83052;
  --color-pink-700: #c02143;
  --color-pink-800: #ac1a3a;
  --color-pink-900: #980c31;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* 서울시 시그니쳐 색상 민트색상  */
/* #17b58f  */
/* [
  "#e7fef9",
  "#d5faf1",
  "#abf3e1",
  "#7dedd1",
  "#5ae7c4",
  "#44e4bb",
  "#36e2b6",
  "#27c9a0",
  "#17b38d",
  "#009b79"
] */
/*  서울시 시그니쳐 색상 붉은색 */
/* #dd506c  */
/* [
  "#ffeaf0",
  "#fdd5dd",
  "#f1abb9",
  "#e77d92",
  "#de5671",
  "#d93e5d",
  "#d83052",
  "#c02143",
  "#ac1a3a",
  "#980c31"
] */

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.69 0.1324 170.27);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    word-break: keep-all;
  }
  #root {
    height: 100svh;
  }
}
